---
layout: page
tagline:
---

{% for post in paginator.posts %}

<article class="home">

  <span class="post-date">
    {% assign d = post.date | date: "%d" | plus:'0' %}
    {{ post.date | date: "%B" }}
    {% case d %}
    {% when 1 or 21 or 31 %}{{ d }}st,
    {% when 2 or 22 %}{{ d }}nd,
    {% when 3 or 23 %}{{ d }}rd,
    {% else %}{{ d }}th,
    {% endcase %}
    {{ post.date | date: "%Y" }}
  </span>

  <h2>
    <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
  </h2>

  <div>
    {% if post.fullview %}
    {{ post.content }}
    {% else %}
    {% if post.shortinfo %}
    {{ post.shortinfo }}
    {% elsif post.description %}
    {{ post.description }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}
    {% endif %}
  </div>

</article>
{% endfor %}

<div class="Bio">
    <header>
        <h1 margin="0px"><i class="fa fa-paperclip"></i> About me</h1>
    </header>
    <p>
    Yue Cao is currently a PhD candidate in Institute of Information System and Engineering, School of Software, Tsinghua University, under supervision of Prof. <a href="http://www.thss.tsinghua.edu.cn/publish/soft/3641/2010/20101214090035662150715/20101214090035662150715_.html">Jianmin Wang</a> and Doctor <a href="http://ise.thss.tsinghua.edu.cn/~mlong/"> Mingsheng Long</a>. He received his bachelor degree of Science majoring in Computer Software in Tsinghua University in July, 2014. His research interests are Deep Learning, Transfer Learning and Large Scale Similarity Search.
    </p>
</div>

<div class="Research Interests">
    <header>
        <h1><i class="fa fa-fire"></i> Research Interests</h1>
    </header>
    <p>
    Deep Learning, Transfer Learning, Large Scale Similarity Search
    </p>
</div>


<div class="News">
    <header>
        <h1><i class="fa fa-bolt"></i> News</h1>
    </header>
    <p>
    <i class="fa fa-bolt"></i>
    2016.05 Our paper "Deep Visual-Semantic Hashing for Cross-Modal Retrieval" got accepted by KDD 2016.
    </p>
    <p>
    <i class="fa fa-bolt"></i>
    2016.03 Our paper "Composite Correlation Quantization for Efficient Multimodal Retrieval" got accepted by SIGIR 2016.
    </p>
    <p>
    <i class="fa fa-bolt"></i>
    2016.03 Our paper "Correlation Autoencoder Hashing for Supervised Cross-Modal Search" got accepted by ICMR 2016.
    </p>
</div>

<div class="Publications">
    <header>
        <h1><i class="fa fa-file"></i> Publications</h1>
    </header>
    <p><font size="4"><strong>Journal Articles</strong></font></p>
    <ol>
        <li>
            <p>
                <strong>Deep Learning of Transferable Representation for Safe Domain Adaptation</strong><br>
                Mingsheng Long, Jianmin Wang, <strong>Yue Cao</strong>, Jiaguang Sun, Philip S. Yu<br>
                <em>IEEE Transactions on Knowledge and Data Engineering (<a href="http://www.computer.org/portal/web/tkde"><strong>TKDE</strong></a>)</em>, 2016
            </p>
        </li>
    </ol>
    <p><font size="4"><strong>Conference Proceedings</strong></font></p>
    <ol>
        <li><p>
            <strong>Deep Visual-Semantic Hashing for Cross-Modal Retrieval</strong>
            <br>
            <strong>Yue Cao</strong>, Mingsheng Long*, Jianmin Wang, Qiang Yang, Philip S. Yu
            <br>
            <em>ACM SIGKDD Conference on Knowledge Discovery and Data Mining (<a href="http://www.kdd.org/kdd2016/"><strong>KDD</strong></a>)</em>, 2016
	    [<a href="doc/deep-visual-semantic-hashing-dvsh-sigkdd16.pdf">PDF</a>] 
        </p></li>
        <li><p>
            <strong>Composite Correlation Quantization for Efficient Multimodal Retrieval</strong>
            <br>
            Mingsheng Long*, <strong>Yue Cao</strong>, Jianmin Wang, Philip S. Yu
            <br>
            <em>ACM SIGIR Conference on Research and Development in Information Retrieval (<a href="http://sigir.org/sigir2016/"><strong>SIGIR</strong></a>)</em>, 2016
	    [<a href="http://ise.thss.tsinghua.edu.cn/~mlong/doc/composite-correlation-quantization-sigir16.pdf">PDF</a>]
        </p></li>
        <li><p>
            <strong>Correlation Autoencoder Hashing for Supervised Cross-Modal Search</strong>
            <br>
            <strong>Yue Cao</strong>, Mingsheng Long*, Jianmin Wang, Han Zhu
            <br>
            <em>ACM International Conference on Multimedia Retrieval (<a href="http://www.icmr2016.com/index.html"><strong>ICMR</strong></a>)</em>, 2016
	    [<a href="doc/correlation-autoencoder-hashing-cah-icmr16.pdf">PDF</a>] 
        </p></li>
        <li><p>
            <strong>Deep Quantization Network for Efficient Image Retrieval</strong>
            <br>
            <strong>Yue Cao</strong>, Mingsheng Long*, Jianmin Wang, Han Zhu, Qingfu Wen
            <br>
            <em>AAAI Conference on Artificial Intelligence (<a href="http://www.aaai.org/Conferences/AAAI/aaai16.php"><strong>AAAI</strong></a>)</em>, 2016
            [<a href="doc/deep-quantization-networks-dqn-aaai16.pdf">PDF</a>] [<a href="doc/deep-quantization-networks-dqn-slides-aaai16.pdf">Slides</a>]
        </p></li>
        <li><p>
            <strong>Deep Hashing Network for Efficient Similarity Retrieval</strong>
            <br>
            Han Zhu, Mingsheng Long*, Jianmin Wang, <strong>Yue Cao</strong>
            <br>
            <em>AAAI Conference on Artificial Intelligence (<a href="http://www.aaai.org/Conferences/AAAI/aaai16.php"><strong>AAAI</strong></a>)</em>, 2016
            [<a href="http://ise.thss.tsinghua.edu.cn/~mlong/doc/deep-hashing-network-aaai16.pdf">PDF</a>]
        </p></li>
	<li><p>
            <strong>Cleaning Timestamps with Temporal Constraints</strong>
            <br>
            Shaoxu Song*, <strong>Yue Cao</strong>, Jianmin Wang
            <br>
            <em>International Conference on Very Large Data Bases (<a href="http://vldb2016.persistent.com/index.html"><strong>VLDB</strong></a>)</em>, 2016
        </p></li>
        <li>
            <p><strong>Learning Transferable Features with Deep Adaptation Networks</strong><br>
            Mingsheng Long*, <strong>Yue Cao</strong>, Jianmin Wang, Michael I. Jordan<br>
            <em>International Conference on Machine Learning (<a href="http://icml.cc/2015/"><strong>ICML</strong></a>)</em>, 2015
            [<a href="http://ise.thss.tsinghua.edu.cn/~mlong/doc/deep-adaptation-networks-icml15.pdf">PDF</a>]
            </p>
        </li>
    </ol>
    <p><font size="4"><strong>Preprints</strong></font></p>
    <ol>
        <li><p>
            <strong>Correlation Hashing Network for Efficient Cross-Modal Retrieval</strong>
            <br>
            <strong>Yue Cao</strong>, Mingsheng Long*, Jianmin Wang, 2016
            [<a href="http://arxiv.org/abs/1602.06697">arXiv</a>]
        </p></li>
    </ol>
</div>

<div class="honors">
    <header>
        <h1><i class="fa fa-trophy"></i> Honors and Awards</h1>
    </header>
    <li><p>
        First-class Scholarship (Glodon Scholarship), Tsinghua University, 2015
    </p></li>
    <li><p>
        Outstanding Communist Youth League Member, Tsinghua University, 2014
    </p></li>
    <li><p>
        Outstanding Study Scholarship, Tsinghua University, 2013
    </p></li>
    <li><p>
        Outstanding Social Work Scholarship, Tsinghua University, 2012
    </p></li>
    <li><p>
        Freshman Scholarship, Tsinghua University, 2010
    </p></li>
</div>
<br>
<br>
<div>
    <a href="http://www.clustrmaps.com/map/caoyue92.com" title="Visitor Map for caoyue92.com"><img src="//www.clustrmaps.com/map_v2.png?u=EakA&d=ju1WOIxLszzjK4HDiYSK8u4BFVLPn83HK95gxcil4Lw" /></a>
</div>

